.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 40px 50px 40px;
  height: 100%;
  box-sizing: border-box;
  z-index: 9999999999999999999;
  @media screen and (max-width: 640px) {
    padding: 80px 20px 20px 100px;
  }
  .body {
    display: flex;
    gap: 10px;
    flex-direction: column;
    z-index: 9999999999999999999;

    .linkContainer {
      perspective: 120px;
      perspective-origin: bottom;
      z-index: 9999999999999999999;
    }
    a {
      text-decoration: none;
      color: black;
      font-size: 46px;
      z-index: 9999999999999999999;
    }
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    a {
      width: 50%;
      margin-top: 5px;
    }
  }
}
